<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3"/>
    <meta name="description" content=""/>
    <meta name="author" content="ThemeBucket"/>
    <link rel="shortcut icon" href="#" type="image/png"/>

    <title>后台管理系统-主页</title>
    <script th:inline="text">
        var contextPath='[[${#httpServletRequest.getContextPath()}]]';
    </script>

    <div th:include="public/public_css :: pub_css"></div>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="#" th:src="@{/js/html5shiv.js}"></script>
    <script src="#" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body class="sticky-header"  style="background-color:#FFF">


<!--body wrapper start-->
<div class="wrapper">




    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    位置节点信息列表
                </header>
                <div class="panel-body">
                    <div class="adv-table">

                        <div class="clearfix">
                            <div class="btn-group">
                                <a id="editable-sample_new" class="btn btn-primary" href="#" th:href="@{/dataBaseManage/preInsertCompany}">
                                    新增位置节点 <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Print</a></li>
                                    <li><a href="#">Save as PDF</a></li>
                                    <li><a href="#">Export to Excel</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="panel-body">
                                <form class="form-horizontal adminex-form" method="get" id="commentForm" action="#" th:action="@{/dataBaseManage/company}">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label col-lg-1">名称</label>
                                        <div class="col-sm-2 col-lg-2">
                                            <input class="form-control m-bot15" id="keyWord" name="keyWord" type="text" placeholder="请输入名称" style="width: 150px;" th:value="${response.keyWord}"/>
                                        </div>
                                        <div class="col-sm-2 col-lg-2">
                                            <button class="btn btn-primary" type="submit">查询</button>&nbsp;&nbsp;<button class="btn btn-primary" type="button" onclick="javascript:window.location.href =contextPath+'/dataBaseManage/company';">清空</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>LOGO</th>
                                <th>节点ID</th>
                                <th>排序</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="" th:each="d : ${companyList}">
                                <input type="hidden" th:value="${d.id}" />
                                <td th:text="${d.name}"></td>
                                <td> <img src="#" alt="" th:src="@{${d.logo}}" style="width:50px"/></td>
                                <td th:text="${d.positionId}"></td>
                                <td th:text="${d.sort}"></td>
                                <td th:text="${#dates.format(d.addtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:switch="${d.status}">
                                    <p th:case="'1'">启用</p>
                                    <p th:case="'2'">禁用</p>
                                    <p th:case="'*'">未知</p>
                                </td>
                                <td><a class="edit" href="#" th:href="@{/dataBaseManage/updateCompany/{id}(id=${d.id})}">更新</a><span style="margin: 0px 10px">|</span><a class="delete" href="#" th:href="@{/dataBaseManage/deleteCompany/{id}(id=${d.id})}" onclick="javascript:return delConfirm()">删除</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--pub_page start-->
    <div th:include="public/public_page :: pub_page"></div>
    <!--pub_page end-->

</div>
<!--body wrapper end-->


<div th:include="public/public_js :: pub_js"></div>



<script type="text/javascript">

    function delConfirm() {
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }
</script>

</body>
</html>
